{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - show_quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
  - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}

<div class="card-wrapper product-card-wrapper underline-links-hover">
  <div
    class="
      card card--{{ settings.card_style }}
      {% if card_product.featured_media %} card--media{% else %} card--text{% endif %}
    "
  >
    <div
      class="card__inner"
    >
      {%- if card_product.featured_media -%}
        <div class="card__media">
          <div class="media">
            {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
            <a
              href="{{ card_product.url }}"
            >
              <img
                data-lazy
                data-srcset="
                  {%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w
                "
                data-src="{{ card_product.featured_media | image_url: width: 1200 }}"
                data-sizes="(min-width: 1400px) 900px, (min-width: 990px) calc((100vw) / 3), (min-width: 750px) calc((100vw) / 2), calc((100vw) / 1)"
                alt="{{ card_product.featured_media.alt | escape }}"
                width="{{ card_product.featured_media.width }}"
                height="{{ card_product.featured_media.height }}"
              >
            </a>
            {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
          </div>
        </div>
      {%- endif -%}
    </div>
    <a
      href="{{ card_product.url }}"
      class="card__content"
    >
      <div class="card__information">
        <h3
          class="card__heading"
          {% if card_product.featured_media or settings.card_style == 'card' %}
            id="title-{{ section_id }}-{{ card_product.id }}"
          {% endif %}
        >
          <div
            id="CardLink-{{ section_id }}-{{ card_product.id }}"
            aria-labelledby="CardLink-{{ section_id }}-{{ card_product.id }} Badge-{{ section_id }}-{{ card_product.id }}"
          >
            {{ card_product.title | escape }}
          </div>
        </h3>
        <div class="card-information">
          <div class="vendor">
            {%- if show_vendor -%}
              <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
              <span class="caption-with-letter-spacing">{{ card_product.vendor }}</span>
            {%- endif -%}
            {%- if card_product.metafields.custom.year and show_vendor -%}
              <span class="caption-with-letter-spacing"> - </span>
            {%- endif -%}
            {%- if card_product.metafields.custom.year -%}
              <span class="caption-with-letter-spacing">{{ card_product.metafields.custom.year }}</span>
            {%- endif -%}
          </div>

          <div class="product-type">
            {%- if card_product.type -%}
              <span class="caption-with-letter-spacing light">{{ card_product.type }}</span>
            {%- endif -%}
          </div>

          {%- comment -%}
            {% render 'price', product: card_product, price_class: '', show_compare_at_price: true %}
            {%- if card_product.quantity_price_breaks_configured? -%}
              <div class="card__information-volume-pricing-note">
                <span class="caption">{{ 'products.product.volume_pricing.note' | t }}</span>
              </div>
            {%- endif -%}
          {%- endcomment -%}

          <div class="card-button">
            <div class="card-button__text">View more</div>
          </div>
        </div>
      </div>
      <div class="card__badge {{ settings.badge_position }}">
        {%- if card_product.available == false -%}
          <span
            id="Badge-{{ section_id }}-{{ card_product.id }}"
            class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}"
          >
            {{- 'products.product.sold_out' | t -}}
          </span>
          {%- comment -%}
            {%- elsif card_product.compare_at_price > card_product.price and card_product.available -%}
              <span
                id="Badge-{{ section_id }}-{{ card_product.id }}"
                class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}"
              >
                {{- 'products.product.on_sale' | t -}}
              </span>
          {%- endcomment -%}
        {%- endif -%}
      </div>
    </a>
  </div>
</div>
