{% if cart != empty and request.page_type != 'cart' %}
  <a
    style=""
    href="{{ routes.cart_url }}"
    class="fixed-cart-button animated-intro-item animated-intro-item--other"
  >
    <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
    <span>Cart ({{ cart.item_count }})</span>
  </a>
{% endif %}

<footer class="footer">
  {%- if section.blocks.size > 0 -%}
    <div class="footer__content">
      {%- if section.blocks.size > 0 -%}
        {%- for block in section.blocks -%}
          <div
            class="footer-block"
          >
            {%- case block.type -%}
              {%- when 'link_list' -%}
                {%- if block.settings.menu != blank -%}
                  <ul class="footer-block__details-content animated-intro-item animated-intro-item--other">
                    {%- for link in block.settings.menu.links -%}
                      <li>
                        <a
                          href="{{ link.url }}"
                          class="footer-block__link{% if link.active %} footer-block__link--active{% endif %}"
                        >
                          {{ link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                    <li>
                      <div class="footer-block__link">
                        &copy; Cy Collectibles
                        {{ 'now' | date: '%Y' }}
                      </div>
                    </li>
                  </ul>
                {%- endif -%}
            {%- endcase -%}
          </div>
        {%- endfor -%}
      {%- endif -%}
    </div>
  {%- endif -%}
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "limit": 1,
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
