<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>

{% assign total_links = section.settings.menu.links.size %}
{% assign half_links = total_links | divided_by: 2 %}

<header class="header">
  <div class="header__wrapper">
    <div class="faux-background"></div>
    <nav class="header__inline-menu header__inline-menu--left">
      <div class="mobile-header-menu">
        <div class="mobile-header-menu__menu-item mobile-header-menu__menu-item--left">
          <div class="mobile-header-menu__menu-button animated-intro-item animated-intro-item--other">Menu</div>
        </div>
      </div>
      {% if total_links >= 1 %}
        <ul class="list-menu list-menu--inline" role="list">
          {% for link in section.settings.menu.links limit: half_links %}
            <!-- Code for the first half link goes here -->
            {%- liquid
              render 'header-mega-menu', link: link
            %}
          {% endfor %}
        </ul>
      {% endif %}
    </nav>

    {%- if request.page_type == 'index' -%}
      <h1 class="header__heading animated-intro-item animated-header-item">
    {%- else -%}
      <div class="header__heading animated-intro-item animated-header-item">
    {%- endif -%}
    <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
      <div class="header__heading-logo-wrapper">
        {%- liquid
          render 'logo-svg'
        %}
      </div>
    </a>
    {%- if request.page_type == 'index' -%}
      </h1>
    {%- else -%}
      </div>
    {%- endif -%}

    <nav class="header__inline-menu header__inline-menu--right">
      <div class="mobile-header-menu">
        <div class="mobile-header-menu__menu-item mobile-header-menu__menu-item--right">
          <a
            href="{{ routes.cart_url }}"
            id="cart-icon-bubble"
            class="animated-intro-item animated-intro-item--other"
          >
            <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
            <span>Cart ({{ cart.item_count }})</span>
          </a>
        </div>
      </div>
      {% if total_links > 1 %}
        <ul class="list-menu list-menu--inline" role="list">
          {% for link in section.settings.menu.links offset: half_links %}
            <!-- Code for the second half link goes here -->
            {%- liquid
              render 'header-mega-menu', link: link
            %}
          {% endfor %}
        </ul>
      {% endif %}
    </nav>
  </div>
</header>

<div class="mobile-menu-modal">
  <div class="mobile-menu-modal__text">
    <nav>
      <ul class="mobile-menu-modal__main" role="list">
        {% for link in section.settings.mobilemenu.links %}
          <li>
            <a
              href="{{ link.url }}"
            >
              <span
                {%- if link.child_active %}
                  class="header__active-menu-item"
                {% endif %}
              >
                {{- link.title | escape -}}
              </span>
            </a>
          </li>
        {% endfor %}
      </ul>
      <ul class="mobile-menu-modal__footer" role="list">
        {% for link in section.settings.mobilefootermenu.links %}
          <li>
            <a
              href="{{ link.url }}"
            >
              <span
                {%- if link.child_active %}
                  class="header__active-menu-item"
                {% endif %}
              >
                {{- link.title | escape -}}
              </span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "link_list",
      "id": "mobilemenu",
      "default": "main-menu",
      "label": "Mobile menu"
    },
    {
      "type": "link_list",
      "id": "mobilefootermenu",
      "default": "main-menu",
      "label": "Mobile footer menu"
    }
  ]
}
{% endschema %}
