<section
  class="space-content"
>
  <div class="space-content__text-wrapper reveal">
    <div class="space-content__text">
      {%- if section.settings.space_title != blank -%}
        <h1 class="space-content__title">
          {{ section.settings.space_title | escape }}
        </h1>
      {%- else -%}
        <h1 class="space-content__title">
          {{ page.title | escape }}
        </h1>
      {% endif %}
      {%- if section.settings.space_text != blank -%}
        <p class="space-content__paragraph">
          {{ section.settings.space_text }}
        </p>
      {% endif %}
      {%- if section.settings.space_button_text != blank -%}
        <a
          class="space-content__button"
          href="{{ section.settings.space_button_url }}"
        >
          {{ section.settings.space_button_text | escape }}
        </a>
      {% endif %}
    </div>
  </div>
  <div
    class="banner"
  >
    {%- if section.settings.image != blank -%}
            <div class="banner__image-wrapper">
              {%- if section.settings.image -%}
                <picture>
                  {%- liquid
                    assign height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio | round
                    assign sizes = '100vw'
                    assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                    assign fetch_priority = 'auto'
                    if section.index == 1
                      assign fetch_priority = 'high'
                    endif
                  -%}
                  {% assign desktop_image = section.settings.image %}
                  {%- if section.settings.mobile_image -%}
                    {% assign mobile_image = section.settings.mobile_image %}
                    <source
                      media="(max-width: 599px)"
                      data-srcset="
                        {% if mobile_image.width > 640 %}{{ mobile_image.src | image_url: width: 640 }} 640w{% endif %}
                        {% if mobile_image.width > 720 %},{{ mobile_image.src | image_url: width: 720 }} 720w{% endif %}
                        {% if mobile_image.width > 900 %},{{ mobile_image.src | image_url: width: 900 }} 900w{% endif %}
                      "
                    >
                    <source
                      media="(min-width: 600px)"
                      data-srcset="
                        {% if desktop_image.width > 640 %}{{ desktop_image.src | image_url: width: 640 }} 640w{% endif %}
                        {% if desktop_image.width > 720 %},{{ desktop_image.src | image_url: width: 720 }} 720w{% endif %}
                        {% if desktop_image.width > 900 %},{{ desktop_image.src | image_url: width: 900 }} 900w{% endif %}
                        {% if desktop_image.width > 1200 %},{{ desktop_image.src | image_url: width: 1200 }} 1200w{% endif %}
                        {% if desktop_image.width > 1600 %},{{ desktop_image.src | image_url: width: 1600 }} 1600w{% endif %}
                        {% if desktop_image.width > 2000 %},{{ desktop_image.src | image_url: width: 2000 }} 2000w{% endif %}
                        {% if desktop_image.width > 2400 %},{{ desktop_image.src | image_url: width: 2400 }} 2400w{% endif %}
                      "
                    >
                  {%- else -%}
                    <source
                      data-srcset="
                        {% if desktop_image.width > 640 %}{{ desktop_image.src | image_url: width: 640 }} 640w{% endif %}
                        {% if desktop_image.width > 720 %},{{ desktop_image.src | image_url: width: 720 }} 720w{% endif %}
                        {% if desktop_image.width > 900 %},{{ desktop_image.src | image_url: width: 900 }} 900w{% endif %}
                        {% if desktop_image.width > 1200 %},{{ desktop_image.src | image_url: width: 1200 }} 1200w{% endif %}
                        {% if desktop_image.width > 1600 %},{{ desktop_image.src | image_url: width: 1600 }} 1600w{% endif %}
                        {% if desktop_image.width > 2000 %},{{ desktop_image.src | image_url: width: 2000 }} 2000w{% endif %}
                        {% if desktop_image.width > 2400 %},{{ desktop_image.src | image_url: width: 2400 }} 2400w{% endif %}
                      "
                    >
                  {%- endif -%}

                  <img
                    type=""
                    data-lazy
                    data-src="{{ desktop_image.src | image_url: width: 3840 }}"
                    data-srcset="
                      {% if desktop_image.width > 640 %}{{ desktop_image.src | image_url: width: 640 }} 640w{% endif %}
                      {% if desktop_image.width > 720 %},{{ desktop_image.src | image_url: width: 720 }} 720w{% endif %}
                      {% if desktop_image.width > 900 %},{{ desktop_image.src | image_url: width: 900 }} 900w{% endif %}
                      {% if desktop_image.width > 1200 %},{{ desktop_image.src | image_url: width: 1200 }} 1200w{% endif %}
                      {% if desktop_image.width > 1600 %},{{ desktop_image.src | image_url: width: 1600 }} 1600w{% endif %}
                      {% if desktop_image.width > 2000 %},{{ desktop_image.src | image_url: width: 2000 }} 2000w{% endif %}
                      {% if desktop_image.width > 2400 %},{{ desktop_image.src | image_url: width: 2400 }} 2400w{% endif %}
                    "
                    data-sizes="100vw"
                    alt="{{ desktop_image.alt}}"
                  >
                  {%- comment -%}
                    {{
                      section.settings.image
                      | image_url: width: 3840
                      | image_tag: height: height, sizes: sizes, widths: widths, fetchpriority: fetch_priority
                    }}
                  {%- endcomment -%}
                </picture>
              {%- endif -%}
            </div>
          {%- endif -%}
    </div>
    
</section>

{% schema %}
{
  "name": "Space content",
  "tag": "section",
  "class": "section",
  "enabled_on": {
    "templates": ["page"],
    "groups": ["aside"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "space_title",
      "label": "Text"
    },
    {
      "type": "textarea",
      "id": "space_text",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "space_button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "space_button_url",
      "label": "Button link"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile image"
    }
  ]
}
{% endschema %}
