<h1 class="visually-hidden">
  {{ page.title | escape }}
</h1>

<div class="contact-content reveal">
  <div class="contact-content__container">
    <address
      class="contact-content__address-container"
    >
      <a
        class="contact-content__address-link"
        href="{{ section.settings.address_url }}"
        target="_blank"
      >
        {{ section.settings.address_text | escape }}
      </a>
    </address>

    <p
      class="contact-content__text"
    >
      {{ section.settings.contact_text }}
    </p>

    <address
      class="contact-content__contact-details"
    >
      {%- if settings.social_instagram_link != blank -%}
        <a
          class="contact-content__contact-detail"
          href="{{ settings.social_instagram_link }}"
          target="_blank"
          >Instagram</a
        >
      {% endif %}
      {%- if shop.email != blank -%}
        <a
          class="contact-content__contact-detail"
          href="mailto:{{ shop.email }}"
        >
          {{- shop.email -}}
        </a>
      {% endif %}
      {%- if shop.phone != blank -%}
        <a
          class="contact-content__contact-detail"
          href="tel:{{ shop.phone }}"
        >
          {{- shop.phone -}}
        </a>
      {% endif %}
    </address>

    <p></p>
  </div>


  {%- if section.settings.image != blank -%}
    <div class="contact-image">
      {%- if section.settings.image -%}
        <picture>
          {%- liquid
            assign height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio | round
            assign sizes = '100vw'
            assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
            assign fetch_priority = 'auto'
            if section.index == 1
              assign fetch_priority = 'high'
            endif
          -%}
          {% assign desktop_image = section.settings.image %}
            <source
              data-srcset="
                {% if desktop_image.width > 640 %}{{ desktop_image.src | image_url: width: 640 }} 640w{% endif %}
                {% if desktop_image.width > 720 %},{{ desktop_image.src | image_url: width: 720 }} 720w{% endif %}
                {% if desktop_image.width > 900 %},{{ desktop_image.src | image_url: width: 900 }} 900w{% endif %}
                {% if desktop_image.width > 1200 %},{{ desktop_image.src | image_url: width: 1200 }} 1200w{% endif %}
                {% if desktop_image.width > 1600 %},{{ desktop_image.src | image_url: width: 1600 }} 1600w{% endif %}
                {% if desktop_image.width > 2000 %},{{ desktop_image.src | image_url: width: 2000 }} 2000w{% endif %}
                {% if desktop_image.width > 2400 %},{{ desktop_image.src | image_url: width: 2400 }} 2400w{% endif %}
              "
            >
          <img
            type=""
            data-lazy
            data-src="{{ desktop_image.src | image_url: width: 3840 }}"
            data-srcset="
              {% if desktop_image.width > 640 %}{{ desktop_image.src | image_url: width: 640 }} 640w{% endif %}
              {% if desktop_image.width > 720 %},{{ desktop_image.src | image_url: width: 720 }} 720w{% endif %}
              {% if desktop_image.width > 900 %},{{ desktop_image.src | image_url: width: 900 }} 900w{% endif %}
              {% if desktop_image.width > 1200 %},{{ desktop_image.src | image_url: width: 1200 }} 1200w{% endif %}
              {% if desktop_image.width > 1600 %},{{ desktop_image.src | image_url: width: 1600 }} 1600w{% endif %}
              {% if desktop_image.width > 2000 %},{{ desktop_image.src | image_url: width: 2000 }} 2000w{% endif %}
              {% if desktop_image.width > 2400 %},{{ desktop_image.src | image_url: width: 2400 }} 2400w{% endif %}
            "
            data-sizes="100vw"
            alt="{{ desktop_image.alt}}"
          >
        </picture>
      {%- endif -%}
    </div>
  {%- endif -%}


</div>

{% schema %}
{
  "name": "Contact details",
  "tag": "section",
  "class": "section",
  "enabled_on": {
    "templates": ["page"],
    "groups": ["aside"]
  },
  "settings": [
    {
      "type": "text",
      "id": "address_text",
      "default": "7296 NW 1st Ct, Miami FL 33150",
      "label": "Address"
    },
    {
      "type": "url",
      "id": "address_url",
      "label": "Address URL"
    },
    {
      "type": "textarea",
      "id": "contact_text",
      "label": "Contact text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop image"
    }
  ]
}
{% endschema %}
