<section
  class="space-content"
>
  <div class="space-content__text-wrapper">
    {%- if settings.space_title != blank -%}
      <h1>
        {{ settings.space_title | escape }}
      </h1>
    {%- else -%}
      <h1>
        {{ page.title | escape }}
      </h1>
    {% endif %}
    {%- if settings.space_text != blank -%}
      <p>
        {{ settings.space_text }}
      </p>
    {% endif %}
    {%- if settings.space_button_text != blank -%}
      <a
        href="{{ settings.space_button_url }}"
      >
        {{ settings.space_button_text | escape }}
      </a>
    {% endif %}
  </div>
  <div
    class="splide banner"
    aria-roledescription="{{ 'sections.slideshow.carousel' | t }}"
    aria-label="{{ section.settings.accessibility_info | escape }}"
  >
    <div class="splide__track">
      <ul class="splide__list">
        {%- for block in section.blocks -%}
          <div
            class="splide__slide"
            role="group"
            aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
            aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
            tabindex="-1"
          >
            <div class="banner__image-wrapper">
              {%- if block.settings.image -%}
                <picture>
                  {%- liquid
                    assign height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio | round
                    assign sizes = '100vw'
                    assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                    assign fetch_priority = 'auto'
                    if section.index == 1
                      assign fetch_priority = 'high'
                    endif
                  -%}
                  {%- comment %}
                    {%- if forloop.first %}
                    {%- endif %}
                  {%- endcomment %}
                  {% assign desktop_image = block.settings.image %}
                  {%- if block.settings.mobile_image -%}
                    {% assign mobile_image = block.settings.mobile_image %}
                    <source
                      media="(max-width: 599px)"
                      data-srcset="
                        {% if mobile_image.width > 640 %}{{ mobile_image.src | image_url: '640x' }} 640w{% endif %}
                        {% if mobile_image.width > 720 %},{{ mobile_image.src | image_url: '720x' }} 720w{% endif %}
                        {% if mobile_image.width > 900 %},{{ mobile_image.src | image_url: '900x' }} 900w{% endif %}
                      "
                    >
                    <source
                      media="(min-width: 600px)"
                      data-srcset="
                        {% if desktop_image.width > 640 %}{{ desktop_image.src | image_url: '640x' }} 640w{% endif %}
                        {% if desktop_image.width > 720 %},{{ desktop_image.src | image_url: '720x' }} 720w{% endif %}
                        {% if desktop_image.width > 900 %},{{ desktop_image.src | image_url: '900x' }} 900w{% endif %}
                      "
                    >
                  {%- else -%}
                    <source
                      data-srcset="
                        {% if desktop_image.width > 640 %}{{ desktop_image.src | image_url: '640x' }} 640w{% endif %}
                        {% if desktop_image.width > 720 %},{{ desktop_image.src | image_url: '720x' }} 720w{% endif %}
                        {% if desktop_image.width > 900 %},{{ desktop_image.src | image_url: '900x' }} 900w{% endif %}
                      "
                    >
                  {%- endif -%}

                  <img
                    type=""
                    data-lazy
                    data-src="{{ desktop_image.src | image_url: width: 3840 }}"
                    data-srcset="
                      {% if desktop_image.width > 640 %}{{ desktop_image.src | image_url: '640x' }} 640w{% endif %}
                      {% if desktop_image.width > 720 %},{{ desktop_image.src | image_url: '720x' }} 720w{% endif %}
                      {% if desktop_image.width > 900 %},{{ desktop_image.src | image_url: '900x' }} 900w{% endif %}
                    "
                    data-sizes="100vw"
                    alt="{{ desktop_image.alt}}"
                  >
                  {%- comment -%}
                    {{
                      block.settings.image
                      | image_url: width: 3840
                      | image_tag: height: height, sizes: sizes, widths: widths, fetchpriority: fetch_priority
                    }}
                  {%- endcomment -%}
                </picture>
              {%- endif -%}
            </div>
          </div>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Space content",
  "tag": "section",
  "class": "section",
  "enabled_on": {
    "templates": ["page"],
    "groups": ["aside"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "space_title",
      "label": "Text"
    },
    {
      "type": "textarea",
      "id": "space_text",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "space_button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "space_button_url",
      "label": "Button link"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.slideshow.blocks.slide.name",
      "limit": 10,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Desktop image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image"
        }
      ]
    }
  ]
}
{% endschema %}
