<h1 class="visually-hidden">
  {{ page.title | escape }}
</h1>

<div class="about-content">
  <div class="about-content__container">
    <div class="about-content__images">
      {%- if section.settings.image != blank -%}
        <div class="">
          <img
            type=""
            data-lazy
            data-src="{{ section.settings.image.src | image_url: width: 400 }}"
            width="{{ section.settings.image.image_width}}"
            height="{{ section.settings.image.image_height}}"
            alt="{{ section.settings.image.alt}}"
          >
        </div>
      {%- endif -%}
      {%- if section.settings.image_2 != blank -%}
        <div class="">
          <img
            type=""
            data-lazy
            data-src="{{ section.settings.image_2.src | image_url: width: 400 }}"
            width="{{ section.settings.image_2.image_width}}"
            height="{{ section.settings.image_2.image_height}}"
            alt="{{ section.settings.image_2.alt}}"
          >
        </div>
      {%- endif -%}
    </div>
    <div class="about-content__text reveal">
      <p>
        {{ section.settings.content_text }}
      </p>
    </div>
    <div class="about-content__images"></div>
  </div>
</div>

{% schema %}
{
  "name": "About content",
  "tag": "section",
  "class": "section",
  "enabled_on": {
    "templates": ["page"],
    "groups": ["aside"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image one"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image two"
    },
    {
      "type": "textarea",
      "id": "content_text",
      "label": "Text"
    }
  ]
}
{% endschema %}
