<h1 class="visually-hidden">
  {{ page.title | escape }}
</h1>

<div class="contact-content reveal">
  <div class="contact-content__container">
    <address
      class="contact-content__address-container"
    >
      <a
        class="contact-content__address-link"
        href="{{ section.settings.address_url }}"
        target="_blank"
      >
        {{ section.settings.address_text | escape }}
      </a>
    </address>

    <p
      class="contact-content__text"
    >
      {{ section.settings.contact_text }}
    </p>

    <address
      class="contact-content__contact-details"
    >
      {%- if settings.social_instagram_link != blank -%}
        <a
          class="contact-content__contact-detail"
          href="{{ settings.social_instagram_link }}"
          >Instagram</a
        >
      {% endif %}
      {%- if shop.email != blank -%}
        <a
          class="contact-content__contact-detail"
          href="mailto:{{ shop.email }}"
        >
          {{- shop.email -}}
        </a>
      {% endif %}
      {%- if shop.phone != blank -%}
        <a
          class="contact-content__contact-detail"
          href="tel:{{ shop.phone }}"
        >
          {{- shop.phone -}}
        </a>
      {% endif %}
    </address>

    <p></p>
  </div>
</div>

{% schema %}
{
  "name": "Contact details",
  "tag": "section",
  "class": "section",
  "enabled_on": {
    "templates": ["page"],
    "groups": ["aside"]
  },
  "settings": [
    {
      "type": "text",
      "id": "address_text",
      "default": "7296 NW 1st Ct, Miami FL 33150",
      "label": "Address"
    },
    {
      "type": "url",
      "id": "address_url",
      "label": "Address URL"
    },
    {
      "type": "textarea",
      "id": "contact_text",
      "label": "Contact text"
    }
  ]
}
{% endschema %}
